[submodule ".vim/bundle/SuperTab"]
	path = .vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule ".vim/bundle/pig.vim"]
	path = .vim/bundle/pig.vim
	url = https://github.com/vim-scripts/pig.vim.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
